.form_submit_btn {
  background: #905fda;
  border-radius: 25px;
  height: 48px;
  border: 0;
  color: white;
  padding: 0 25px;
  min-width: 160px;
  cursor: pointer;
  text-decoration: none;
  min-width: 100%;
  transition: 0.3s;
}

.form_submit_btn.inline {
  padding: 0 10px;
  width: auto;
  display: inline-block;
  height: auto;
  font-weight: 400;
  min-width: fit-content;
  background: transparent;
  color: var(--color-primary);
  text-transform: capitalize;
  border: 1px solid var(--color-primary);
  font-size: inherit;
}
.form_submit_btn:focus,
.form_submit_btn:hover {
  box-shadow: 1px 1px 1px 1px #bbb9be;
}
.form_submit_btn--alt {
  background: none;
  border: 1px solid rgb(109, 74, 211);
  color: rgb(109, 74, 211);
}
.form_submit_btn.clear {
  background-color: transparent;
  color: rgb(109, 74, 211);
}

@media screen and (min-width: 400px) {
  .form_submit_btn {
    min-width: 160px;
  }
}

.form_submit_btn.fluid {
  min-width: auto;
}
