.form-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  z-index: 10;
  padding-bottom: 100px;
}

.screen-header {
  padding: 0px 32px 0 0;
}

.screen-title {
  font-family: Avenir Next;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.015em;
  text-align: left;
  padding: 40px 0;
  color: rgba(105, 77, 129, 1);
}

.screen-title + p {
  margin-top: -12px;
  padding: 0 0 24px 0;
}

.form_submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
  padding-top: 14px;
  position: relative;
  top: 70px;
  height: 0;
  text-align: left;
}

@media only screen and (min-width: 400px) {
  .form_submit {
    max-width: 100%;
    width: 100%;
    padding: 0 36px;
    right: -45px;
  }
}

.form__review--actions p {
  margin-bottom: 1rem;
}

.form_submit--review button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
}
.form_submit--review img {
  max-width: 15%;
}

.form-layout .tab-container {
  position: relative;
  width: 100%;
  min-width: 250px;
  padding: 48px 32px 32px 32px;
  background: var(--color-white);
}

.form-layout .form-container {
  flex: 1 0 100%;
  background: white;
  padding: 48px 32px 48px 48px;
  margin-right: 2vw;
  width: 100%;
}

.form-layout .element-container {
  box-shadow: 0px 1px 30px 20px rgb(8 18 86 / 2%);
}
.form-layout .helper-container {
  display: none;
  position: sticky;
  top: 20px;
  min-width: 220px;
  padding: 12px;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .form-layout .form-container {
    flex: 1 0 55%;
  }
}
@media only screen and (min-width: 900px) {
  .form-layout {
    flex-wrap: nowrap;
  }

  .form-layout .form-container {
    flex: 1 0 52%;
  }

  .form-layout .tab-container {
    flex: 0 0 20%;
  }
}

@media only screen and (min-width: 1100px) {
  .form-layout .helper-container {
    display: block;
    flex: 0 0 28%;
  }

  .form-layout .form-container {
    flex: 1 0 52%;
  }
  .form-layout .tab-container {
    padding: 48px 24px 24px 24px;
  }
}

.tab-helper {
  position: relative;
  background: #f4effa;
  margin: 12px 0 18px 0;
  padding: 24px;
  font-weight: 600;
  border-radius: 10px;
  z-index: 20;
  color: var(--color-primary_medium);
}

.tab-helper + .tab-helper,
.tab-helper + p {
  margin-top: 24px;
}

@media only screen and (min-width: 900px) {
  .screen-title {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.015em;
    padding: 12px 0 24px 0;
  }
}

.screen-subtitle {
  max-width: 75ch;
}

@media only screen and (min-width: 900px) {
  .form-layout {
    top: -30px;
  }
}

@media only screen and (min-width: 600px) {
  .form-layout {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .form-layout .tab-container {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: 25%;
    margin-right: 2vw;
  }
}

.form-warning {
  text-align: center;
  margin: auto;
}
.form-warning {
  color: var(--color-invalid_red);
}
.form-invalid {
  color: var(--color-invalid_red);
  flex: 0 0 100%;
  text-align: right;
  margin-right: 23%;
}

pre {
  white-space: pre-wrap;
  font-size: 13px;
}
