.form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.form_error {
  text-align: center;
  display: block;
  padding: 5px 0;
  color: rgb(241, 130, 141);
}

fieldset {
  padding: 0;
  border: none;
  flex: 0 0 100%;
  transition: all 300ms ease-in-out;
  width: 100%;
  position: relative;
}

fieldset h4 + .fieldset_helper {
  margin: -12px 0 12px 0;
}

fieldset + fieldset {
  margin-top: 24px;
}

fieldset.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
fieldset h4 {
  font-family: Avenir Next;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  padding-bottom: 12px;
  color: rgba(105, 77, 129, 1);
}

fieldset.subfield {
  padding-left: 25px;
  border-left: 2px solid var(--color-grey_light-2);
}

.form-section {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: white;

  box-shadow: 0px 1px 30px 20px rgb(8 18 86 / 2%);
  border-radius: 10px;
  padding: 48px 32px 24px 48px;
}

fieldset.form-section + fieldset.form-section {
  margin-top: 48px;
}

.error-code,
.error-message {
  display: inline-block;
  color: var(--color-invalid_red);
}

.tab-helper__heading {
  max-width: 65ch;
}

@media screen and (min-width: 1024px) {
  .form_submit,
  .form_error {
    text-align: left;
  }
}

.submission-error {
  position: relative;
}
.submission-error__copy-icon {
  background-color: transparent;
  border: 1px solid #905fda;
  padding: 4px 1px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-height: 30px;
}
.submission-error__copy-icon--hidden {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 200%;
  background-color: transparent;
  border: 1px solid #905fda;
  padding: 4px 1px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-height: 30px;
}
