.form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.form_consent {
  color: rgba(40, 0, 75, 0.38);
  font-size: 12px;
  font-weight: normal;
  height: 60px;
  letter-spacing: 0.03px;
  display: block;
  padding-top: 30px;
  max-width: 440px;
}
.form_error {
  text-align: center;
  display: block;
  padding: 5px 0;
  color: rgb(241, 130, 141);
}

fieldset {
  padding: 0;
  border: none;
}

fieldset h4 + .fieldset_helper {
  margin: -12px 0 12px 0;
}

fieldset + fieldset {
  margin-top: 24px;
}

.error-code,
.error-message {
  display: block;
  color: var(--color-invalid_red);
}

.tab-helper__heading {
  max-width: 65ch;
}

@media screen and (min-width: 1008px) {
  .form_submit,
  .form_error {
    text-align: left;
  }
}
