.thanks_content {
  padding: 25px;
}
.thankyou-p {
  padding: 0 25px 13px 25px;
  margin: auto;
  max-width: 328px;
  text-align: center;
  color: #664b81;
}
.thankyou-p--alignleft {
  text-align: center;
  margin: 0;
  padding: 0 0 20px 0;
  max-width: 310px;
}
.stores {
  text-align: center;
  margin-top: 40px;
}
.stores_store {
  height: 34px;
  margin: 0 10px;
}
.thankyou-emailaccount {
  display: none;
  text-align: center;
}
.thankyou-emailaccount_email {
  padding: 20px;
  color: #28004b;
  font-weight: 700;
  font-size: 17px;
  background: rgba(109, 74, 211, 0.12);
  border-radius: 25px;
  padding: 10px 40px;
  display: inline-block;
}
.thankyou-desktop {
  display: none;
}
.thankyou-smssent {
  color: #61a961;
  font-weight: 600;
  font-size: 16px;
}
@media screen and (min-width: 770px) {
  .thankyou-emailaccount {
    display: block;
  }
  .thankyou-mobile {
    display: none;
  }
  .thanks_content {
    background: white;
    box-shadow: 0px 2px 100px 0px rgba(40, 0, 75, 0.3);
    width: 600px;
    margin: 50px auto;
    padding: 60px 70px;
    border-radius: 8px;
    position: relative;
  }
  .thanks_content_phone {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 400px;
    transform: translate(30%, -12%);
  }
  .stores {
    text-align: left;
  }
  .stores_store:first-child {
    margin-left: 0;
  }
  .thankyou-desktop {
    display: block;
  }
  .thankyou-p {
    font-size: 16px;
  }
  .thankyou-p--alignleft {
    text-align: left;
  }
  .thankyou-weblink {
    display: block;
    margin: auto;
    color: rgb(9, 113, 241);
    text-align: center;
    letter-spacing: -0.01px;
    margin-bottom: 40px;
  }
  .thankyou-p--smaller {
    font-size: 14px;
  }
}
