.badges {
  display: none;
}
.badges img {
  max-height: 75px;

  margin: 20px 20px 50px 0;
}
.badges img.elster {
  max-height: 65px;

  margin: 20px 20px 50px 0;
}
@media screen and (min-width: 1024px) {
  .badges {
    display: flex;
    align-items: center;
  }
}
