.top-section-gradient {
  position: absolute;
  width: 200vw;
  left: -50vw;
  height: 100%;
  background: var(--gradient-top-section);
  opacity: 0.12;
  z-index: 0;
}

.top-section-raso-bg {
  pointer-events: none;
  max-height: 650px;
  bottom: 0;
  position: absolute;
  right: -150px;
}

.top-section-gradient {
  pointer-events: none;
}

.top-section-gradient--raso-success {
  top: 0;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.67) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      63.37% 115.51% at 40.63% 138.29%,
      #d7b7ff 0%,
      rgba(215, 183, 255, 0) 100%
    ),
    radial-gradient(
      56.94% 103.8% at -12.33% 125.63%,
      #f2b6e6 0%,
      rgba(242, 182, 230, 0) 100%
    ),
    radial-gradient(
      73.96% 134.81% at 107.81% -57.59%,
      #82a5ff 0%,
      rgba(130, 165, 255, 0) 100%
    ),
    linear-gradient(107.26deg, #a33ab1 0%, rgba(163, 58, 177, 0) 76.62%),
    linear-gradient(0deg, #6d4ad3, #6d4ad3);
}

.top-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 40px 0;
  min-height: 60px;
}

.top-section__nav {
  margin-left: 40px;
  margin-right: auto;
}

.top-section__header__ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-item {
  padding: 12px 15px 0 15px;
}
.menu-item a {
  text-decoration: none;
  font-family: "Avenir Next";
  letter-spacing: 0.01em;
  cursor: pointer;
  color: #28004b;
  font-weight: 600;
}
