.top-section-raso-container {
  text-align: left;
  padding: 40px 45px;
}

@media only screen and (min-width: 768px) {
  .top-section-raso-container {
    margin: 0 55px 55px 55px;
    max-width: 61%;
  }
}

.top-section-estirev-container {
  margin-top: 120px;
  margin: 0 25px;
  margin-bottom: 80px;
}

.top-section__title-l {
  color: rgba(105, 77, 129, 1);
}

.top-section__title-m {
  color: var(--color-primary_medium);
}

.form_submit_btn--raso-header {
  margin: 10px 0;
  letter-spacing: 1.2525px;
  padding: 0 35px;
}
