.terms-footnote {
  padding: 40px 0;
  flex-direction: column;
  position: relative;
}

.terms-footnote p {
  font-family: Avenir Next;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 167%;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-serious_purple);
  display: inline-flex;
  align-items: center;
  margin-right: 0rem;
}

.promise-icon img {
  width: 11px;
}

@media only screen and (min-width: 600px) {
  .terms-footnote p {
    font-size: 20px;
  }
  .promise-icon img {
    width: auto;
  }
}

.terms-footnote .promise-icon {
  padding: 0 5px;
}

@media only screen and (min-width: 500px) {
  .terms-footnote:not(.flex-column) {
    flex-direction: row;
  }
  .terms-footnote p {
    margin-right: 2rem;
  }
}
