@font-face {
  font-family: "Assistant";
  font-display: auto;
  src: url("./res/fonts//assistant/assistantExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Assistant";
  font-display: auto;
  src: url("./res/fonts/assistant/assistantLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Assistant";
  font-display: auto;
  src: url("./res/fonts//assistant/assistantRegular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Assistant";
  font-display: auto;
  src: url("./res/fonts//assistant/assistantSemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Assistant";
  font-display: auto;
  src: url("./res/fonts//assistant/assistantBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Assistant";
  font-display: auto;
  src: url("./res/fonts//assistant/assistantExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  font-display: auto;
  src: url("./res/fonts//avenir/AvenirNext-Medium-06.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  font-display: auto;
  src: url("./res/fonts//avenir/AvenirNext-DemiBold-03.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  font-display: auto;
  src: url("./res/fonts//avenir/AvenirNext-Bold-01.ttf");
  font-weight: 800;
  font-style: normal;
}

body,
html {
  font-family: "Assistant", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #f9f7fc 0%, #ffffff 100%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 400px;
  font-size: 14px;
  overflow-x: hidden;
  color: #28004b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.content {
  margin: 0 25px;
  position: relative;
}

.cta-phone {
  right: -20px;
  max-width: 400px;
}
.container-cta {
  padding: 100px 40px;
}

@media screen and (min-width: 900px) {
  .cta-phone {
    right: 0;
  }
}

.container-cta-form {
  margin-top: 80px;
}

.container-cta {
  padding: 100px 80px;
  text-align: left;
  position: relative;
  min-height: 600px;
}

.container {
  width: 100%;
  max-width: initial;
}

@media screen and (min-width: 1200px) {
  .container {
    margin: auto;
    width: 1100px;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-container--space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

@media screen and (min-width: 1008px) {
  .content {
    margin: auto;
    max-width: 1200px;
    padding-left: 25px;
  }

  .form_submit {
    text-align: left;
  }
  .content_right_sticky {
    position: sticky;
    top: 0;
  }
}

a {
  color: #007bff;
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.top-section {
  width: 100%;
  min-height: 110px;
  position: relative;
  overflow: hidden;
}
.top-section-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--top-section_gradient);
  opacity: 0.12;
  z-index: 1;
  max-height: 600px;
}
.top-section-gradient--nheight {
  max-height: unset;
}
.top-section-bg-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.top-section-container {
  position: relative;
  z-index: 3;
}

.top-section__title-l {
  font-size: 26px;
  font-family: "Avenir Next";
  line-height: 140%;
  font-weight: 700;
  animation-delay: 0.7s;
}

@media only screen and (min-width: 768px) {
  .top-section__title-l {
    margin-top: 75px;
    font-size: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .top-section__title-l {
    font-size: 48px;
  }
}

.top-section__title-m {
  font-family: Avenir Next;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 10px;
}

.section-h2 {
  font-family: "Avenir Next";
  font-size: 48px;
  padding: 0 20px;
  padding-bottom: 20px;
  text-align: center;
  margin: auto;
  max-width: 800px;
  font-weight: 700;
  letter-spacing: -0.075rem;
  display: block;
}
.section-p {
  font-size: 24px;
  font-weight: 300;
  margin: auto;
  display: block;
  max-width: 600px;
  margin-bottom: 20px;
  text-align: center;
  opacity: 0.8;
}
.dlAccountableLink:hover {
  text-decoration: none;
  opacity: 0.95;
}

.input-group-append {
  background-color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 50px;
}

.input-group-append__btn {
  height: 50px;
  min-width: 150px;
  display: inline;
  background-color: var(--color-primary);
  color: white;
  border-radius: 50px;
  border: none;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
  margin-left: 5px;
  font-family: "Avenir Next";
  font-size: 16px;
  letter-spacing: -0.005em;
}
.input-group-append__btn:focus {
  outline: 0;
}
.error-wrapper {
  height: 35px;
}
.error-message-phone {
  display: none;
  color: #fff;
}

input#mce-PHONE {
  border: none;
  padding: 0.3rem;
}

.input-group__img--flag--tool,
.input-group--phone__input--tool,
.input-group--phone__input--tool:hover,
.input-group--phone__input--tool:focus,
.input-group-append--tool,
.input-group__img--flag--alt,
.input-group--phone__input--alt,
.input-group--phone__input--alt:hover,
.input-group--phone__input--alt:focus,
.input-group--email__input--alt,
.input-group--email__input--alt:hover,
.input-group--email__input--alt:focus,
.input-group-append--alt {
  background: #f7f6fc;
}
.input-group--email {
  width: 90%;
  margin: auto;
}
.input-group--email input,
.input-group--email input:focus {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  -moz-box-shadow: 0 2px 10px 0 var(--color-grey_light-4);
  -webkit-box-shadow: 0 2px 10px 0 var(--color-grey_light-4);
  box-shadow: 0 2px 10px 0 var(--color-grey_light-4);
  font-size: 1.4em;
  font-weight: 600;
  font-weight: 300;
  color: #959595;
  padding: 0 10px;
  height: 60px;
}

.desktop-only {
  display: none;
}

.section-h2 {
  font-size: 32px;
}
.section-p {
  font-size: 18px;
}

@media screen and (min-width: 770px) {
  .desktop-only {
    display: initial;
  }
  .mobile-only {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .content_right_wrapper {
    position: fixed;
    background: #f9f8fd;
    height: 100%;
    width: calc((100vw - 1175px) / 2);
    top: 0;
    right: 0%;
  }
}

/************************/
/****** Elements ******/
/************************/

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.element-container {
  box-shadow: 0px 1px 4px 0px rgba(8, 18, 86, 0.0847);
  border-radius: 10px;
  padding: 24px;
}

/************************/
/****** Typography ******/
/************************/

.body--small {
  font-family: Assistant;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-primary_light);
}

.body--medium {
  font-family: Assistant;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.body--bold {
  font-family: Assistant;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.body--big-bold {
  font-family: Assistant;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.h5--bold {
  font-family: Avenir Next;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.015em;
  text-align: left;
}

/************************/
/****** Animations ******/
/************************/

.lds-ellipsis {
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis--dark div {
  background: #747474;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}
