.link {
  background: #905fda;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  height: 48px;
  border: 0;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 25px;
  min-width: 160px;
  cursor: pointer;
  text-decoration: none;
  min-width: 100%;
  transition: 0.3s;
}

@media screen and (min-width: 400px) {
  .link {
    min-width: 160px;
  }
}
.link--inline {
  padding: 0 10px;
  width: auto;
  display: inline-block;
  height: auto;
  font-weight: 400;
  min-width: fit-content;
  background: transparent;
  color: currentColor;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: inherit;
  min-width: auto;
}

.link--secondary {
  background: white;
  color: #905fda;
  border: 1px solid #905fda;
}

.link:focus,
.link:hover {
  background-color: var(--color-primary_hover);
}
.link--inline:focus,
.link--inline:hover {
  background-color: var(--color-white);
}

.link--inline:hover,
.link--inline:focus {
  box-shadow: 2px 5px 3px 0px #bbb9be;
}

.link svg {
  margin-left: 10px;
  transition: all 300ms ease-in-out;
}

.link--inline svg {
  font-size: inherit;
}

.link:hover svg,
.link:focus svg {
  transform: translateX(5px);
  transform-origin: center;
  transition: all 300ms ease-in-out;
}
.link--alt {
  background: none;
  border: 1px solid rgb(109, 74, 211);
  color: rgb(109, 74, 211);
}
